<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.business.smartWatch.question.mapper.QuestionDAO">
    <select id="queryPage" resultType="net.lab1024.sa.admin.module.business.smartWatch.question.pojo.Question">
        SELECT
        *
        FROM question
        <where>
            <if test="queryForm.questionId != null">
                AND question._id= #{queryForm.questionId}
            </if>
<!--            <if test="queryForm.keyword != null and queryForm.keyword != ''">-->
<!--                AND  (INSTR(question.question,#{queryForm.keyword, jdbcType=LONGVARCHAR}) > 0-->
<!--                OR INSTR(question.answer1,#{queryForm.keyword, jdbcType=LONGVARCHAR}) > 0-->
<!--                OR INSTR(question.answer2,#{queryForm.keyword, jdbcType=LONGVARCHAR}) > 0-->
<!--                OR INSTR(question.answer3,#{queryForm.keyword, jdbcType=LONGVARCHAR}) > 0-->
<!--                OR INSTR(question.answer4,#{queryForm.keyword, jdbcType=LONGVARCHAR}) > 0 )-->
<!--#                 OR INSTR(t_change_log.content,#{queryForm.keyword})-->

<!--            </if>-->
<!--            <if test="queryForm.time != null">-->
<!--                AND response.time= #{queryForm.time}-->
<!--            </if>-->
<!--            <if test="queryForm.questionid != null">-->
<!--                AND response.questionID= #{queryForm.questionid}-->
<!--            </if>-->
<!--            <if test="queryForm.answerid != null">-->
<!--                AND response.answerID= #{queryForm.answerid}-->
<!--            </if>-->
        </where>
        order by question._id asc
    </select>


</mapper>