<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.smartWatch.question.mapper.QuestionDAO">
    <select id="queryPage" resultType="net.lab1024.sa.admin.module.smartWatch.question.pojo.Question">
        SELECT
        *
        FROM question
        <where>
            <if test="queryForm.questionId != null">
                AND question._id= #{queryForm.questionId}
            </if>
            <if test="queryForm.keyword != null and queryForm.keyword != ''">
                AND  (INSTR(question.question,#{queryForm.keyword})
                OR INSTR(question.answer1,#{queryForm.keyword})
                OR INSTR(question.answer2,#{queryForm.keyword})
                OR INSTR(question.answer3,#{queryForm.keyword})
                OR INSTR(question.answer4,#{queryForm.keyword})
                )
            </if>
        </where>
        order by question._id asc
    </select>


</mapper>