<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.smartWatch.dao.response.ResponseDao">
    <select id="queryPage" resultType="net.lab1024.sa.admin.module.smartWatch.response.domain.ResponseVO">
        SELECT
        *
        FROM response
        <where>
            <if test="queryForm.keyword != null and queryForm.keyword != ''">
                AND ( INSTR(response.question,#{queryForm.keyword})
                OR INSTR(response.response,#{queryForm.keyword})
                )
            </if>
        </where>
        order by response._id asc
    </select>

    <select id="update"  >
        UPDATE response SET
                response.date = #{updateForm.date},
                response.time = #{updateForm.time},
                response.responseTime = #{updateForm.responseTime},
                response.question = #{updateForm.question},
                response.response=#{updateForm.response}
        <where>
            response._id = #{updateForm.id}
        </where>
    </select>

    <select id="deleteById"  >
        DELETE FROM response
        <where>
            response._id = #{responseId}
        </where>
    </select>


</mapper>