<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.smartWatch.dao.dataItem.DataItemMapper">
    <select id="update"  >
        UPDATE dataitem SET
        dataitem.datestamp = #{updateForm.datestamp},
        dataitem.timestamp = #{updateForm.timestamp},
        dataitem.dataitem1 = #{updateForm.dataitem1},
        dataitem.dataitem2 = #{updateForm.dataitem2},
        dataitem.dataitem3 = #{updateForm.dataitem3},
        <where>
            dataitem._id = #{updateForm.id}
        </where>
    </select>

    <select id="deleteById"  >
        DELETE FROM dataitem
        <where>
            dataitem._id = #{dataitemId}
        </where>
    </select>

    <select id="queryPage" resultType="net.lab1024.sa.admin.module.smartWatch.dataItem.domain.DataItemVO">
        SELECT
        *
        FROM dataitem
        <where>
            <if test="queryForm.datestamp != null">
                AND dataitem.datestamp= #{queryForm.datestamp}
            </if>
            <if test="queryForm.timestamp != null and queryForm.timestamp != ''">
                AND dataitem.timestamp= #{queryForm.timestamp}
            </if>
            <if test="queryForm.dataitem1 != null">
                AND dataitem.dataitem1= #{queryForm.dataitem1}
            </if>
            <if test="queryForm.dataitem2 != null">
                AND dataitem.dataitem2= #{queryForm.dataitem2}
            </if>
            <if test="queryForm.dataitem3 != null">
                AND dataitem.dataitem3= #{queryForm.dataitem3}
            </if>
            <if test="queryForm.id != null">
                AND dataitem._id= #{queryForm.id}
            </if>
        </where>
        order by dataitem._id asc
    </select>

</mapper>